<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>status.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <display-name>todo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TaskListController</display-name>
    <servlet-name>TaskListController</servlet-name>
    <servlet-class>br.ucsal.app.todo.TaskListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskListController</servlet-name>
    <url-pattern>/TaskListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskSaveController</display-name>
    <servlet-name>TaskSaveController</servlet-name>
    <servlet-class>br.ucsal.app.todo.TaskSaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskSaveController</servlet-name>
    <url-pattern>/TaskSaveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDeleteController</display-name>
    <servlet-name>TaskDeleteController</servlet-name>
    <servlet-class>br.ucsal.app.todo.TaskDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDeleteController</servlet-name>
    <url-pattern>/TaskDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskUpdateController</display-name>
    <servlet-name>TaskUpdateController</servlet-name>
    <servlet-class>br.ucsal.app.todo.TaskUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskUpdateController</servlet-name>
    <url-pattern>/TaskUpdateController</url-pattern>
  </servlet-mapping>
</web-app>